
html, body {
	border:				0px none;
	margin:				0px;
	padding:			0px;
	width:				100%;
	height:				100%;
	/* background-color:	#333;*/
	background-color:   #FFFCFC;
}

#outer {
	position:			absolute;
	display:			block;
	top:				2px;
	left:				2px;
	right:				2px;
	bottom:				2px;
	text-align:			center;
	overflow:			auto;
	border:				0px none;
}

#hcenter {
	display:			inline-table;
	height:				100%;
	border:				0px none;
}

#vcenter {
	border:				0px none;
	display:			table-cell;
	vertical-align:		middle;
}

#canvas {
	border:				0px none;
	position:			relative;
}

/* controls is too wide */
#controls {
	position:			fixed;
	z-index:			2;
	left:				0;
	top:				10px;
	text-align:			left;
	width:              100%;
}

#controls>div, #controls>select {
	display: inline-block;
}


.button {
	display:			block;
	margin:				5px 10px 0;
	padding:            .2em 1em;
	border-radius: 		.5em;
	background-color: 	rgba(255,255,255,0.5);
	font-family:		sans-serif;
	font-weight:		500;
	color:				black;
	border:				1px solid black;
	cursor:				pointer;
	opacity:			0.5;
	text-align:			center;
	vertical-align:     top;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: 	none;
	-ms-user-select: 	none;
	user-select: 		none;
}

#controls .split {
	margin: 10px 10px 0 10px;
}

#controls .split input {
	display: none;
}

#controls .split label {
	font-family:		sans-serif;
	padding: .2em 1em;
	margin: 0 -5px 0 0;
	border: 1px solid rgba(47, 79, 79, 1);
}


#controls .split input#side-front:checked ~ label[for=side-front],
#controls .split input#side-back:checked ~ label[for=side-back] {
	background-color: rgba(47, 79, 79, 0.7);
	color: white;
}

#controls .split label:first-of-type {
	border-radius: 0;
	border-right: 0;
	border-bottom-left-radius: .5em;
	border-top-left-radius: .5em;
}

#controls .split label:last-of-type {
	border-radius: 0;
	border-left: 0;
	border-bottom-right-radius: .5em;
	border-top-right-radius: .5em;
}

#controls div.dropdown {
	float: right;
}


/*
	TODO: zoom range
	http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html
	https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
*/


.button.selected {
	background-color: 	rgba(0,255,0,0.7);
}

.button:hover {
	opacity:			1.0;
}

.dropdown ul {
	list-style-type:	none;
	margin:				0px;
	padding:			0px;
	display:			none;
	text-align:			left;
}

.dropdown:hover ul {
	display:block;
}

.dropdown ul li {
	font-size: 			0.8em;
	padding:			0.2em;
	padding-top:		0.5em;
}

#hintsbox {
	display:			none;
	position:			fixed;
	z-index:			2;
	left:				5px;
	right:				5px;
	bottom:				5px;
	min-height:			50px;
	margin:				0;
	border-radius: 		5px;
	background-color: 	rgba(47,79,79,1);
	font-family:		sans-serif;
	font-weight:		500;
	color:				white;
	border:				1px solid black;
	opacity:			0.5;
}

#hintstitle {
	font-weight: bold;
}

select.board {
	min-width: 100px;
	margin: 10px;
}
